header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;
}

header .sony_logo img {
    height: 20px;
}

header nav img {
    height: 40px;
}

header nav li img {
    height: 24px;
}
/********** /siteheader ***********/



.height {
    height: 570px;
}

section.one img {
    height: 45px;
}

/********** /section1 ***********/
section.two .thumb img {
    width: 100%;
    border-radius: 1rem;
}

section.two .thumb {
    padding-top: 0.5rem;
    transition: 0.5s;
}

section.two .thumb:hover {
    padding-top: 0.2rem;
}

section.two .thumb img {
    border: 4px solid #2284d500;
}

section.two .thumb.active img {
    border: 2px solid #2285D5;
    padding: 2px;
}




/********** /section2 ***********/

@media screen and (min-width: 576px) {
    .height {
        height: 620px;
    }
    section.one img {
        height: 55px;
    }
}  


@media screen and (min-width: 768px) {
    .height {
        height: 600px;
    }

    section.one img {
        height: 70px;
    }
}    

@media screen and (min-width: 1200px) {
    .height {
        height: 590px;
    }

    section.one img {
        height: 40px;
    }
    
    section.one p {
        width: 380px;
    }
}   

header img.chevron,
header img.chevron_op {
    width: 0.5rem;
    margin-left: 3px;
}

body {
    font-family: Arial, sans-serif;
}

.btn_rounder {
    border-radius: 1.5rem;
    border-style: none;
}

header li.icon {
    font-size: 1.5rem;
}

section.jumbo {
    background-image: url(./img/jumbo-bg.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.debug section.one{
    min-height: 400px;
}

section.three div.img_cont {
    height: 100%;
}

section.three img,
section.six img {
    width: 100%;
}

section.three .hidden{
    text-align: center;
}
section.three i , section.five .card i {
    font-size: 8px;
    vertical-align: super;
}

.hidden {
    display: none;
}

@media screen and (min-width:768px) {
    .hidden {
        display: block;
    }
    
}

.thumb_cont {
    opacity: 0.6;
    transition: 1.5s;
}

.thumb_cont.active {
    border-bottom: 2px solid #0D79D0;
    opacity: 1;
}

.thumb_cont:hover {
    opacity: 1;
}

.button_cont  {
    padding:2.8px;
}

.button_cont:hover {
    padding:2px;
    border:1px solid #2D64E6;
}
/********** /section3 ***********/

section.four {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
}

section.four img{
    height: 200px;
}
@media screen and (min-width: 576px) {
    section.four img {
        height: 230px;
    }
}  


@media screen and (min-width: 768px) {
    section.four img {
        height: 320px;
    }
}    

@media screen and (min-width: 1200px) {
    section.four img {
        height: 180px;
    }
    
    section.four p {
        width: 380px;
    }
}
/********** /section4 ***********/
section.five .card {
    border-style:none;
}
section.five .card img {
    border-radius: 1rem;
}
/********** /section5 ***********/

section.six h1 i{
    font-size: 12px;
    vertical-align: super;
}
/********** /section6 ***********/

section.seven .hidden {
    display:none;
}

@media screen and (min-width:768px) {
    section.seven .hidden {
        display: block;    
    }
}

section.seven .left img,
section.nine .left img {
    max-width: 60%;
}

section.seven .right img,
section.eight img,
section.nine .right img,
section.ten img {
    width: 100%;
}
/********** /section7 ***********/

section.ten div[class^="container"] {
    max-width: 720px;
}

/********** /section10 ***********/

footer {
    color: white;
    background-color: #00439C;
}

footer ul {
    list-style: none;
}

footer li:hover {
    cursor: pointer;
}

footer li {
    margin-bottom: 0.75rem;
}

footer .language img {
    width: 20px;
    height: 20px;
    margin-right: 0.75rem;
}

footer .sie {
    width: 140px;
}
/********** /footer***********/
/************************* colors ******************************* */

.bg_darkgrey {
    background-color: #363636;
}

.bord_grey {
    border-color: #363636;
}

.bg_crimson {
    background-color: #CD3D0F;
}

.text_blue {
    color: #0D79D0
}

.bg_blue {
    background-color: #2D64E6;
}

.bg_dark {
    background-color: #1f1f1f;
}

.bg_grey {
    background-color: #BEBCBB;
}

.bg_lightgrey {
    background-color: #D9DADC;
}

.bg_deepblue {
    background-color: #161C3B;
}

.bg_lightergrey {
    background-color: #f5f5f5;
}

/* utilities */
.col-20 {
    width: 20%;
}

@media screen and (min-width: 768px) {
.col-md-20 {
    width: 20%;
}
}

@media screen and (min-width: 1200px) {
    .col-xl-20 {
    width: 20%;
}
}


/****** bonus ***********/

li[aria-expanded="true"] {
    color:#0D79D0;
}

.dropdown-menu.show {
    display: flex;
    width: 100%;
    justify-content: center;
    border: none;
    border-radius: 0;
    text-align: center;

}

.dropdown {
    position: static;
}

li img.ps_icon {
    height:70px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

section.one .button_cont:hover,
section.four .button_cont:hover
 {
    padding:2px;
    border:1px solid #CD3D0F;
}

button.shadow_:hover {
    box-shadow: 2px 2px 2px #eceef1c9;
}

button.btn_rounder span {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    
}

button.inner_border {
    padding:1px;
    box-sizing: content-box;
}

button.btn_rounder span:hover {
    border: 2px solid black;
    padding: 0.40rem 0.65rem 0.40rem 0.65rem;
}

.cp:hover {
    cursor: pointer;
}

.list_style {
    list-style-type: disc;
}

.navbar li i {
    font-size: 0.3rem;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 1rem;
}

#navbarDropdown:focus {
    color: #0D79D0 !important;
}

#navbarDropdown:focus .chevron {
    display: none;
}

.chevron_op {
    display: none;
    transform: rotate(180deg);
}

#navbarDropdown:focus .chevron_op {
    display: inline-block;
}

header li.d-flex.flex-column.align-items-center:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.5);
    border-radius:5px;
}

a.dropdown-item {
    background-color: rgba(255, 255, 255, 0);
}

a.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0);
}