header {
    position: fixed;
    width: 100%;
    top: 0;
}

header .sony_logo img {
    height: 20px;
}

header nav img {
    height: 40px;
}
/********** /siteheader ***********/

section.one {
    margin-top: 100px;
}

.height {
    height: 570px;
}

section.one img {
    height: 45px;
}

/********** /section1 ***********/
@media screen and (min-width: 576px) {
    .height {
        height: 620px;
    }
    section.one img {
        height: 55px;
    }
}  


@media screen and (min-width: 768px) {
    .height {
        height: 600px;
    }

    section.one img {
        height: 70px;
    }
}    

@media screen and (min-width: 1200px) {
    .height {
        height: 590px;
    }

    section.one img {
        height: 40px;
    }
    
    section.one p {
        width: 380px;
    }
}   

header img.chevron {
    width: 0.5rem;
    margin-left: 3px;
}

body {
    font-family: Arial, sans-serif;
}

.btn_rounder {
    border-radius: 1.5rem;
}

header li.icon {
    font-size: 1.5rem;
}

section.jumbo {
    background-image: url(./img/jumbo-bg.png);
    background-position-x: center;
}

.debug section.one{
    min-height: 400px;
}
/************************* colors ******************************* */

.bg_darkgrey {
    background-color: #363636;
}

.bord_grey {
    border-color: #363636;
}

.bg_crimson {
    background-color: #CD3D0F;
}